.products {
    --grid-layout-gap: 40px;
    --grid-column-count: 4;
    --grid-item--min-width: 250px;
    padding: 0;
    display: grid;
    width: 100%;
    gap: var(--grid-layout-gap);

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  }

.products li {
    list-style: none;
}
  
.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #111;
    color: #fff;
    padding: 1rem;
}

.product h4 {
    margin: 0; 
}

.product span {
    font-size: 14px;
    opacity: 0.9;
}

.product img {
    border-radius: 4px;
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
    object-fit: contain;
    background: #fff;
}
