.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.form input {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.form input:focus {
    outline: none;
    border: 2px solid #517fff;
}