.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 900px;
    height: 600px; */
    background: #fff;
    margin: 20px;
}

.container .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #212121;
    transition: .3s linear;
}

.container .imgBx:before {
    content: attr(data-content);
    position: absolute;
    top: 0px;
    left: 24px;
    color: #000;
    opacity: 0.2;
    font-size: 8em;
    font-weight: 800;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details h2{
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.container .details p, .container .details table {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
}

.container .content {
    width: 100%;
}

.container table tbody {
    display: grid;
    grid-template-columns: minmax(200px, 1.33fr) minmax(200px, 2.33fr);    
    align-items: center;
    justify-items: start;
}
.container .details table tr {
    margin-bottom: 5px;
}

.container .details table td {
    padding: 8px;
    padding-left: 0;
    text-align: left;
}

.container .details table tr td:first-child {
    font-weight: 600;
    font-size: 1.0rem;
    width: 100px;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}
.container .details button {
    background: var(--color-primary);
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}

.colors-title {
    color: #333;
}

.product-colors {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: baseline;
}

.product-colors label {
    width: 26px;
    height: 26px;
    margin: 1px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transform-style: preserve-3d;
}
.product-colors label::after {
    content: "";
    background-color: #dbdbdb;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    top: -3px;
    transition: .3s linear;
    transform: translateZ(-1px)
}

.buy-product .capacity {
    color:#333;
    font-weight: 700;
    padding-right: 5px;
}

.product-colors .active:after{
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}

.buy-product button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* responsive */
@media (max-width: 1080px) {
    .container {
        height: auto;
    }
    .container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        text-align: center;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
    }
    .container .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .container .details p {
        margin-left: 0;
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .container table tbody {
        grid-template-columns: 1fr;
    }
}
