header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div {
    text-align: left;
}

.cart-button {
    align-items: center;
    background: var(--color-primary);
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    padding: 4px;
    transition: all 0.3s ease;
    width: 36px;
    z-index: 9999;
    position: relative;
}

.cart-button:hover {
    scale: 1.1;
}

.cart-button span {
    background: #fff;
    border-radius: 9999px;
    color: var(--color-primary);
    font-size: 0.8rem;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}

.title-app {
    text-decoration: inherit;
    color: inherit;
}

.title-app:hover {
    color: var(--color-primary);
}